target/
*.log

.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.classpath
.project
.settings/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db
